@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-canvas: #0a0e17;
  --color-surface-lowest: #0a0e17;
  --color-surface-dim: #0f131c;
  --color-surface-low: #181b25;
  --color-surface: #1c1f29;
  --color-surface-high: #262a34;
  --color-surface-highest: #31353f;

  --color-brand-primary: #d0bcff;
  --color-brand-primary-container: #a078ff;
  --color-brand-secondary: #4cd7f6;
  --color-brand-tertiary: #c0c1ff;
}

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0e17;
  color: #dfe2ef;
  overflow-x: hidden;
}

/* Smooth transitions */
* {
  border-color: rgba(255, 255, 255, 0.08);
}

